<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main/css/style.css" />
    <title>Общая статистика</title>
    <html lang="en"><head>
      </head>
      <body>
        <header>
          <div>
            <h1>1С-разработчик</h1>
          </div>
        </header>
    
        <main>
          <nav>
            <ul>
              <li><a href="">Главная страница</a></li>
              <li><a href="">Общая статистика</a></li>
              <li><a href="">Востребованность</a></li>
              <li><a href="">География</a></li>
              <li><a href="">Навыки</a></li>
              <li><a href="">Последние вакансии</a></li>
            </ul>
          </nav>
    
          <div>
            <ul>
              <div>
                <li>Динамика уровня зарплат по годам</li>
                <section>
                  <img src="/static/main/img/dynamic1.jpg" alt="Динамика зарплат 1C-разработчик">
                  <img src="/static/main/img/dynamic2.jpg" alt="График зарплат 1C-разработчик">
                </section>
              </div>
              <li>Динамика количества вакансий по годам</li>
              <section>
                <img src="/static/main/img/dynamic3.jpg" alt="Динамика вакансий 1C-разработчик">
                <img src="/static/main/img/dynamic4.jpg" alt="График вакансий 1C-разработчик">
              </section>
              <li>Уровень зарплат по городам</li>
              <li>Доля вакансий по городам</li>
              <li>ТОП-20 навыков по годам</li>
            </ul>
          </div>
        </main>
    
        <footer>
          <p>Понарина Полина Валерьевна РИ-230912, АТ-01</p>
        </footer>
      
    
    </body></html>