<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main/css/style.css" />
    <title>Главная страница</title>
  </head>
  <body>
    <header>
      <div>
        <h1>1С-Разработчик</h1>
      </div>
    </header>

    <main>
      <nav>
        <ul>
          <li><a href="">Главная страница</a></li>
          <li><a href="">Общая статистика</a></li>
          <li><a href="">Востребованность</a></li>
          <li><a href="">География</a></li>
          <li><a href="">Навыки</a></li>
          <li><a href="">Последние вакансии</a></li>
        </ul>
      </nav>

      <section>
        <h2>Описание</h2>
        <p>
            Программист 1С – это человек, который устанавливает, настраивает и поддерживает систему 1С для предприятия. 
            Он может обновлять программу, создавать новые конфигурации с нуля и выполнять другие задачи.В основе всех программ 1С ― единая технологическая платформа «1С:Предприятие». 
            На базе этой платформы разработчики 1С создают для бизнеса программы, которые называют конфигурациями.
            1С-разработчик может доработать конфигурацию, например, добавить нестандартный отчёт или изменить пользовательский интерфейс, а может разработать собственную. 
            Фирма «1С» создала собственный язык программирования. 
            В отличие от Python и Java в нём предусмотрены специальные классы объектов: регистры, справочники, отчёты, документы. Их не придётся писать с нуля, что ускоряет разработку. 
            У языка 1С двуязычный синтаксис, поэтому разработчики могут писать программы на английском и на русском.
        </p>
        <p>
          <strong>Обязанности 1С‑программиста</strong><br /><br />
          1. Помогает подобрать типовую конфигурацию 1С, которую придётся меньше дорабатывать для запросов бизнеса.<br />
          2. Устанавливает программы 1С на серверы компании и компьютеры сотрудников. <br />
          3. Настраивает базы данных. <br />
          4. Дорабатывает типовые конфигурации: настраивает пользовательский интерфейс, справочники, документы, отчёты и другие объекты системы.<br />
          5. Разрабатывает интеграции для обмена данными между разными программами 1С, например, «1С:Розница» и «1С:Бухгалтерия», 
          а также между программами 1С и внешними системами — операторами электронного документооборота, маркетплейсами. <br />
          6. Выдаёт права доступа к разным разделам и действиям в 1С. <br />
          7. Создаёт новые пользовательские роли с определёнными правами и возможностями для работы в 1С. <br />
          8. Занимается сопровождением и обновлением программного обеспечения. <br />
          9. Добавляет в программу новые опции, тестирует, исправляет ошибки.
        </p>
        <p>
          <strong>Что нужно знать программисту 1С</strong><br /><br />
          1. Основы программирования. Несмотря на то, что платформа 1С предлагает разработчикам набор готовых инструментов, 
          алгоритмы придётся придумывать и прописывать самостоятельно.<br />
          2. Язык программирования 1С: его синтаксис и семантику. 
          Код должен быть чистым и соответствовать стандартам. <br />
          3. Основные объекты платформы «1С:Предприятие».<br />
          4. Язык запросов 1С.<br />
          5. Типовые конфигурации 1С: одну, а лучше несколько, например «1С:Бухгалтерия» 
          и «1С:Управление торговлей».
        </p>
        <p>
          <strong>Где работают 1С‑разработчики</strong> <br />
          <br />
          1.В фирме «1С» разработчики создают, дорабатывают, обновляют типовые конфигурации и стандартные библиотеки. 
          Этот вариант подходит для специалистов по программированию 1С с большим опытом, 
          которые хорошо понимают, как ведётся прикладная разработка. <br />
          2.В компании сети «1С: Франчайзинг» обязанности программиста 1С зависят от размера организации. <br />
          3 На стороне заказчика 1С-разработчики администрируют и дорабатывают купленные программы для конкретных запросов.
        </p>
        <p>
            Учитывая, что 1С используется практически во всех российских компаниях, 
            востребованность у профессии хорошая. Причем бизнесу нужны как опытные программисты, 
            так и начинающие специалисты. Вторые требуются тем, кому не нужно выполнять сложные задачи, 
            поэтому не хочется переплачивать просто за то, что эту работу выполняет опытный разработчик 
            (так как ее может выполнить и новичок). Но хорошие программисты 1С тоже нужны компаниям, особенно крупным организациям, 
            которым важно, чтобы с системой взаимодействовал квалифицированный специалист. 
            И за услуги таких программистов они готовы предлагать хорошую зарплату, 
            потому что это выгодно в первую очередь самому предприятию. По этой причине в перспективе спрос и 
            уровень зарплат у вакансии программист 1С не будут снижаться.
        </p>
      </section>

      <section>
        <img src="/static/main/img/prof1.jpg" alt="Профессия 1" />
      </section>
    </main>

    <footer>
      <p>Понарина Полина Валерьевна РИ-230912, АТ-01</p>
    </footer>
  </body>
</html>
